{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>HOLA Carlos, este es el formulario para agregar productos</title>
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}?v=4">
</head>
<body>
    <h1>HOLA Carlos, este es el formulario para agregar productos</h1>
    <div class="formulario-container">
        <form method="post" class="formulario">
            {% csrf_token %}
            <div class="campo">
                <label for="codigo_barra">Código de Barra:</label>
                <input type="text" id="codigo_barra" name="codigo_barra" required>
            </div>
            <div class="campo">
                <label for="nombre">Nombre del Producto:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="campo">
                <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
                <input type="date" id="fecha_vencimiento" name="fecha_vencimiento" required>
            </div>
            <button type="submit" class="boton-guardar">Guardar</button>
        </form>
        <a href="{% url 'productos_proximos' %}" class="boton-volver">Ver Productos</a>
    </div>
</body>
</html> 